		<div class="header" id="banner">
       	  <img src="/ultimate/templates/assets/images/head_banner.gif" width="800" height="100" alt="Head Banner"/>
          <br />
          <img src="/ultimate/templates/assets/images/Home Button.png" width="118" height="48" alt="Ultimate Fitness Homepage" />
          <img src="/ultimate/templates/assets/images/About Us.png" width="118" height="48" alt="Read more about Ultimate Fitness" /> 
          <img src="/ultimate/templates/assets/images/Class.png" width="118" height="48" alt="Ultimate Fitness events & Updates" />
          <img src="/ultimate/templates/assets/images/COntact.png" width="118" height="48" alt="How to Reach Ultimate Fitness" />
          <img src="/ultimate/templates/assets/images/Facilities.png" width="118" height="48" alt="Learn more about the Ultimate Fitness Facilities" />
          <img src="/ultimate/templates/assets/images/Fitness.png" width="118" height="48" alt="Workout routines, nutrition tips and more." />
          <img src="/ultimate/templates/assets/images/Membership.png" width="203" height="48" alt="Learn how to join, view membership plans, pricing, and specials" />
          <img src="/ultimate/templates/assets/images/Resources.png" width="130" height="48" alt="View popular health and fitness related Web sites" />
       </div>