		<div class="header" id="banner">
       	  <img src="/ultimate/templates/assets/images/head_banner.jpg" width="800" height="100" alt="Head Banner"/>
          <br />
          <img src="/ultimate/templates/assets/images/Home Button.png" width="118" height="48" alt="Home" />
          <img src="/ultimate/templates/assets/images/About Us.png" width="118" height="48" alt="About Us" /> 
          <img src="/ultimate/templates/assets/images/Class.png" width="118" height="48" alt="Class Schedule" />
          <img src="/ultimate/templates/assets/images/COntact.png" width="118" height="48" alt="Contact Info" />
          <img src="/ultimate/templates/assets/images/Facilities.png" width="118" height="48" alt="Facilities" />
          <img src="/ultimate/templates/assets/images/Fitness.png" width="118" height="48" alt="Fitness Tips" />
          <img src="/ultimate/templates/assets/images/Membership.png" width="203" height="48" alt="Membership Plans" />
          <img src="/ultimate/templates/assets/images/Resources.png" width="130" height="48" alt="Resources" />
       </div>